<div class="content">
  <mat-card>
    <form [formGroup]="form">
      <mat-card-title>Title</mat-card-title>
      <mat-form-field appearance="fill">
        <mat-label> Enter title here:&nbsp; </mat-label>
        <input matInput formControlName="name" />
        <mat-error
          *ngIf="!form.get('name')?.valid && form.get('name')?.touched"
          class="warning"
        >
          Please input a recipe name.
        </mat-error>
      </mat-form-field>

      <mat-card-title
        >Ingredients
        <span>
          <button
            class="btn btn-default"
            type="button"
            (click)="onAddIngredient()"
            matSuffix
          >
            +
          </button>
        </span></mat-card-title
      >
      <ng-container formArrayName="ingredients">
        <mat-form-field
          class="form-group"
          appearance="fill"
          *ngFor="
            let ingredientControl of returnFormArray(form, 'ingredients')
              .controls;
            let i = index
          "
        >
          <mat-label> Enter ingredient here </mat-label>
          <input matInput class="form-control" [formControlName]="i" />
          <button
            *ngIf="i > 0"
            class="btn btn-default"
            type="button"
            matSuffix
            (click)="removeIngredientControl(i)"
          >
            X
          </button>
        </mat-form-field>
      </ng-container>

      <mat-card-title>Instruction</mat-card-title>
      <mat-form-field>
        <mat-label> Instruction: &nbsp; </mat-label>
        <textarea
          matInput
          formControlName="instruction"
          col="10"
          row="10"
        ></textarea>
        <mat-error
          *ngIf="
            !form.get('instruction')?.valid && form.get('instruction')?.touched
          "
          class="warning"
        >
          Please input instruction.
        </mat-error>
      </mat-form-field>

      <mat-card-title>Image</mat-card-title>
      <mat-form-field>
        <mat-label> Image: &nbsp; </mat-label>
        <input matInput formControlName="image" />
        <mat-error
          *ngIf="!form.get('image')?.valid && form.get('image')?.touched"
          class="warning"
        >
          Please input an image url.
        </mat-error>
      </mat-form-field>

      <button
        type="button"
        class="back"
        title="back"
        [routerLink]="['/', 'recipes']"
      >
        Back
      </button>

      <button
        type="button"
        class="add"
        title="add recipe"
        (click)="submitForm()"
        [disabled]="!form.valid"
      >
        Add
      </button>
    </form>
  </mat-card>
</div>
