<p>recipe-add works!</p>

<div class="content">
  <form [formGroup]="form">
    <mat-card>
      <div>
        <mat-form-field>
          <mat-label> Enter title here:&nbsp; </mat-label>
          <input matInput formControlName="name" />
          <mat-error
            *ngIf="!form.get('name')?.valid && form.get('name')?.touched"
            class="warning"
          >
            Please input a recipe name.
          </mat-error>
        </mat-form-field>
      </div>

      <div formArrayName="ingredients">
        <Span>Ingredients: </Span>
        <button
          class="btn btn-default"
          type="button"
          (click)="onAddIngredient()"
        >
          Add Ingredient
        </button>
        <div
          class="form-group"
          *ngFor="
            let ingredientControl of returnFormArray(form, 'ingredients')
              .controls;
            let i = index
          "
        >
          <mat-form-field>
            <mat-label> Ingredient: &nbsp; </mat-label>
            <input matInput class="form-control" [formControlName]="i" />
          </mat-form-field>
        </div>
      </div>

      <div>
        <mat-form-field>
          <mat-label> Instruction: &nbsp; </mat-label>
          <textarea matInput formControlName="instruction"></textarea>
          <mat-error
            *ngIf="
              !form.get('instruction')?.valid &&
              form.get('instruction')?.touched
            "
            class="warning"
          >
            Please input a task name.
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label> Image: &nbsp; </mat-label>
          <input matInput formControlName="image" />
          <mat-error
            *ngIf="!form.get('image')?.valid && form.get('image')?.touched"
            class="warning"
          >
            Please input an image url.
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>
  </form>
</div>
